In [8]:
# Basic variable usage
# 1
age=23
print(age)

# 2
name="Jatin"
print(name)
name="Atharva"
print(name)

# 3
x=10
y=30
x=x+y
y=x-y
x=x-y
print("after swaping:")
print("x=",x)
print("y=",y)

23
Jatin
Atharva
after swaping:
x= 30
y= 10

In [10]:
# 4
a=234
str_a=str(a)
print(str_a)
print(type(str_a))

234
<class 'str'>

In [20]:
# 5
a=input("Enter a number:")
no_a=int(a)
print(a * no_a)

Enter a number: 2

22

In [28]:
# 6
    # Invalid variable name (starts with a number)
   # 1st_variable = "This will cause an error"
#except SyntaxError:
  #  print("Invalid variable name '1st_variable' - cannot start with a number.")

# Valid but not recommended variable name (single letter 'x')
x = 10 
print("Value of x:", x)

Value of x: 10

In [30]:
# 7 
first_name ='Jatin'
print(first_name)
firstName='Jatin'
print(firstName)

Jatin
Jatin